:root {
  --bg-primary-water: #fef7f6;
  --bg-primary-section: #eae2d8;
  --theme-color: #ff5353;
  --theme-blue: rgb(4, 2, 131);
  --grey-border: #ebeef0;
}

*,
p,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

#top-header {
  background-color: var(--bg-primary-water);
  padding: 1.5rem;
}

small {
  font-size: 1.1rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover,
.meta a:hover,
.meta a:hover i {
  text-decoration: none;
  color: var(--theme-color);
}

img {
  width: 100%;
}

section {
  margin-top: 5rem;
}

/* Generics */
.button {
  border: none;
  outline: 0;
  padding: 1.5rem 3.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  background: var(--theme-color);
  border-radius: 3px;
  display: inline-block;
}

.button.theme-light {
  color: #000;
  background: #fff;
}

.button.theme-light:hover {
  color: #000;
  background: #fff;
}

.button.btn-slim {
  padding: 0.5rem;
}

.button:hover {
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
}

.button.theme-primary {
  color: #fff;
  background: var(--theme-color);
}
.button.theme-primary:hover {
  color: var(--theme-blue);
  background: #fff;
  transition: 0.3s all ease-in;
}

.section-heading {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 8rem;
  text-transform: uppercase;
}

/* END GENERICS */

/* Top nav */
#top-header .top-header--box small:not(:last-child) {
  padding-right: 1.5rem;
}

/* navbar */
.navbar-nav * {
  padding: 1.2rem 0;
}

.mobile-menu-toggler {
  display: none;
}

.menubar {
  display: flex;
  flex-direction: row;
}

.navbar-nav .nav-item:not(:last-child) {
  margin-right: 2rem;
}
.navbar-nav > a:not(:last-child) {
  margin-right: 2rem;
}

.nav-item a,
i {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #000;
}

.navbar-nav a:hover,
.navbar-nav a:hover i {
  color: var(--theme-color);
}

/* Banner Section */
#banner {
  background-image: url("../images/bg-1.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 0;
  margin-top: 0;
}

.banner--content {
  max-width: 47rem;
  text-align: center;
  float: right;
}

.banner--content .banner-msg {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2.8px;
}

.banner--content .banner-title {
  font-size: 5.8rem;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 4rem;
}

.banner-img {
  width: 100%;
}

/* Featured products section */
.product:hover .action-links {
  visibility: visible;
}

.product-thumb {
  position: relative;
  margin-bottom: 3rem;
  overflow: hidden;
}

.product-thumb img {
  width: 100%;
  min-height: 28rem;
  max-height: 43.8rem;
}
.action-links {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  width: 100%;
  text-align: center;
}

.action-links a i {
  background: #fff;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 5rem;
}
.action-links a i:hover {
  color: #fff;
  background: var(--theme-color);
  transition: 0.3s all linear;
}

.product-content {
  text-align: center;
}

.product-content .product-name {
  text-transform: capitalize;
}

.product-content .price {
  font-size: 2rem;
  font-weight: 500;
}

/* Offer Section */
#offer {
  background-color: var(--bg-primary-section);
}

#offer .offer--content {
  min-width: 47rem;
  text-transform: uppercase;
  float: right;
  text-align: center;
}

#offer .offer--content h1 {
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

#offer .offer--content h4 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

/* Features Section */
#features {
  padding: 5rem;
}
.feature-box {
  border: 1px solid var(--grey-border);
  padding: 2rem;
  text-align: center;
}

.feature-box img {
  margin-bottom: 1.5rem;
  width: auto;
}

.feature-box h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.feature-box p {
  font-size: 1.4rem;
  text-transform: capitalize;
}

/* Trending Products */
#trending-products {
  padding-bottom: 4rem;
}

/* Journal */
#journal {
  text-transform: capitalize;
  padding-bottom: 4rem;
}

.journal--box img {
  max-height: 30rem;
  min-height: 30rem;
}

.meta,
.meta a,
.meta i {
  color: #888;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

a.date::before {
  display: inline-block;
  content: "";
  height: 0.5rem;
  width: 1rem;
  background: var(--theme-color);
  border-radius: 0.2rem;
}

a.date {
  display: inline-block;
  padding: 1.8rem 0 0.5rem 0;
}

.journal-title {
  padding-bottom: 1.4rem;
  border-bottom: 1px solid #888;
  font-size: 1.6rem;
  font-weight: normal;
}

.meta-tags a,
.meta-tags i {
  padding-right: 1rem;
  margin-top: 1rem;
}

/* Follow Us */
#follow {
  padding-bottom: 4rem;
}

.follow-link {
  position: relative;
  display: block;
  overflow: hidden;
}

.follow-link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 83, 83, 0.7);
  height: 80%;
  width: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.follow-link img {
  position: relative;
  max-height: 20rem;
  min-height: 20rem;
}

.follow-link i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.follow-box:hover .follow-link::before {
  height: 100%;
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

.follow-box:hover .follow-link i {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

/* Footer Section */
#footer {
  background-color: var(--bg-primary-section);
}

.top-footer {
  padding: 5rem 0;
}

.footer-title {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

#footer ul {
  list-style-type: none;
}

#footer ul li a {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 3rem;
}

#footer ul li a:first-letter {
  text-transform: uppercase;
}

.buttons {
  margin-bottom: 2rem;
}

.buttons .button i {
  margin-left: 0.5rem;
}

.button .fa-apple {
  color: #fff;
}

.icon-box {
  margin-right: 1rem;
}

.icon-box:hover i {
  color: var(--theme-color);
}

/* Laptop/tablet */
@media (max-width: 800px) {
  /* Banner */
  .banner--content .banner-msg {
    font-size: 1rem;
    font-weight: normal;
  }
  .banner--content .banner-title {
    font-size: 3rem;
  }

  /* Offer */
  #offer .offer--content h1,
  #offer .offer--content h4 {
    margin-bottom: 1rem;
  }

  #offer .offer--content {
    min-width: 100%;
    float: none;
    padding-top: 1.5rem;
  }
}

/* Mobile Breakpoints */
@media (max-width: 450px) {
  #top-header {
    display: none;
  }
  .show {
    display: block !important;
  }
  .logo {
    display: none;
  }
  .mobile-menu-toggler {
    display: inline-block;
  }
  #menubar {
    flex-direction: column;
    order: 3;
    display: none;
  }
  #menubar.show {
    position: absolute;
    top: 76px;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 1;
    padding-left: 3rem;
    transition: 0.5s all ease-in;
  }
  .nav-item {
    padding: 0.5rem 0;
  }
  .nav-item .nav-link {
    font-size: 1.4rem;
    padding: 0.5rem 0;
  }

  /* Feature */
  .feature-box,
  .journal--box {
    margin-bottom: 1.5rem;
  }

  /* Footer */
  #footer ul {
    margin-bottom: 2rem;
  }
}
